[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/FastNoiseLite"]
	path = external/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
